<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <i-list>
        <i-item>
          <ion-item>
            <ion-label>Pizza</ion-label>
            <ion-select value="peperoni" multiple="true" placeholder="Select Pizza">
              <ion-select-option value="peperoni">Peperoni</ion-select-option>
              <ion-select-option value="hawaii">Hawaii</ion-select-option>
            </ion-select>
          </ion-item>
        </i-item>
      </i-list>
    </ion-col>
  </ion-row>
</ion-grid>